@font-face
{
    font-family: 'windows';

    src: url('windows.woff2') format('woff2'),
    url('windows.woff') format('woff');
}

body
{
    font-family: 'windows', monospace;
    font-size: .8rem;

    padding: 60px 0;

    color: $black;
    background-color: $green;
}
