::-webkit-scrollbar
{
    width: 20px;

    background-image: url('bg-pattern.png');
    background-size: 20px;
}

/* Track */
::-webkit-scrollbar-track
{
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    position: relative;

    border: 2px solid;
    border-top-color: $white;
    border-right-color: $black;
    border-bottom-color: $black;
    border-left-color: $white;
    background: $grey;
    background-color: $grey;
    &:before
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        content: '';

        border: 2px solid;
        border-top-color: $grey-light;
        border-right-color: $grey-dark;
        border-bottom-color: $grey-dark;
        border-left-color: $grey-light;
    }
}
