input:not([type="range"]) {
    box-shadow: var(--shadow-input);
    background-color: var(--color-white);
    border: none;
    height: 40px;
    width: 100%;
    padding: 8px 10px 4px;
    
    &:focus {
        outline: none;
    }

    &:disabled,
    &.is-disabled {
        background-color: var(--color-gray-200);
        color: var(--color-gray-300);
    }
}