@font-face {
    font-family: 'w95fa';
    src: url('../fonts/w95fa.woff2') format('woff2'),
         url('../fonts/w95fa.woff') format('woff'),
         url('../fonts/w95fa.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

h2 {
    line-height: 32px;
}