progress {
    width: 100%;
    appearance: none;
    height: 36px;
    
    
    &::-webkit-progress-bar {
        background-color: var(--color-gray-200);
        box-shadow: var(--shadow-inner-1);
        padding: 4px;
    }

    &::-webkit-progress-value {
        background-color: var(--color-blue);
        background-image: linear-gradient(90deg, var(--color-blue) 90%, var(--color-gray-200) 90%);
        background-size: 20px 32px;
    }
}