%card
{
    border: 2px solid;
    border-top-color: $white;
    border-right-color: $black;
    border-bottom-color: $black;
    border-left-color: $white;
    background-color: $grey;
}
%card-header{
    padding: 4px 10px 6px;

    color: $white;
    background-color: $blue;
}
%card-title{
    display: block;
    margin: 0;
    font-size: 1rem;
}
%card-body{
    margin: 10px;
}

.card{
    @extend %card;
}

.card-header
{
    @extend %card-header;
}

.card-title
{
    @extend %card-title;
}

.card-body
{
    @extend %card-body;
}
