.nav
{
    display: flex;

    margin-bottom: 40px;
    padding: 4px;

    border-bottom: 2px solid $white;
    background-color: $grey;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);

    align-items: center;
}

.nav-logo
{
    img
    {
        max-height: 40px;
    }
}
.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active
{
    line-height: 2;

    height: 40px;
    margin: 0 2px;
    padding: 4px 40px 4px 10px;

    color: $black;
    border: 2px solid;
    border-top-color: $white;
    border-right-color: $black;
    border-bottom-color: $black;
    border-left-color: $white;
    background-color: $grey;
    position: relative;
    &:before
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        content: '';

        border: 2px solid;
        border-top-color: $grey-light;
        border-right-color: $grey-dark;
        border-bottom-color: $grey-dark;
        border-left-color: $grey-light;
    }
    &:hover
    {
        color: $black;
    }
    &.active
    {
        border-top-color: $black;
        border-right-color: $white;
        border-bottom-color: $white;
        border-left-color: $black;
        &:before{
            border-top-color: $grey-dark;
            border-right-color: $grey-light;
            border-bottom-color: $grey-light;
            border-left-color: $grey-dark;
        }
    }
}
